<!DOCTYPE html>
{% include widgets/debug_repo_name.html %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sabbir Mahmud Afridi</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.9.1/css/academicons.min.css" integrity="sha512-b1ASx0WHgVFL5ZQhTgiPWX+68KjS38Jk87jg7pe+qC7q9YkEtFq0z7xCglv7qGIs/68d3mAp+StfC8WKC5SSAg==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/global.css">
    <link rel="icon" type="image/x-icon" href="assets/images/photos/favicon.ico">
</head>
<body class="bg-light" >
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top mb-5 shadow-sm">
    <div class="container">
        <a class="navbar-brand"><strong>Sabbir Mahmud Afridi</strong></a>
        <button class="navbar-toggler" style="font-size: 1em; padding: 0.5em;" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-map"></i> Menu
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item active">
                    <a class="nav-link" href="">Home</a>
                </li>
                
                <li class="nav-item ">
                    <a class="nav-link" href="/publications.html">Publications</a>
                </li>
<!--                 
                <li class="nav-item ">
                    <a class="nav-link" href="showcase">Showcase</a>
                </li> -->
                
            </ul>
        </div>
    </div>
</nav>

    <div class="container">
        <div class="row">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col">
                        
                        <!-- When the screen is wider than md, float the portrait on the right -->
                        <div class="figure float-right ml-4 mb-4 d-none d-md-block">
                            <img 
                                src="assets/images/photos/portrait.png" 
                                class="figure-img img-fluid img-thumbnail" 
                                style="height: 200px;"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="Sabbir Mahmud Afridi.">
                        </div>
                        <div class="d-flex">
                            <div class="h1 font-weight-normal">
                                Sabbir Mahmud Afridi <small></small>
                            </div>
                            
                            <div class="ml-auto d-md-none">
                                <a target="_blank" href="assets/images/photos/portrait.png">
                                    <img src="assets/images/photos/portrait.png" class="rounded-circle" style="height: 72px;" alt="Portrait">
                                </a>
                            </div>
                            
                        </div>
                        <div class="text-profile-position">
                            
                            <img src="assets/images/badges/MIT_Social_circle.png" alt="Logo" class="inline-badge"/>
                            MSc Student at CSEDU || Researcher | NLP | LLM <br/>
                            
                        </div>
                        <div class="text-profile-bio mt-3" >
                            <p>
                                A dedicated computer science professional with a solid academic background and hands-on experience in both teaching and research. 
                                I hold a B.Sc. in Computer Science and Engineering from East West University and am currently pursuing my M.Sc. at the University of Dhaka. 
                                I’ve gained valuable teaching experience as a lecturer at Prime University and the University of Skill Enrichment and Technology.
                                My areas of interest include Natural Language Processing (NLP) and Large Language Model (LLM), and I've worked on various projects that highlight my skills in programming and technology, including a music recommendation system and a drone ground station. 
                                My goal is to continue learning, innovating, and contributing to the field of computer science.
                            </p>
                        </div>
                        
                    </div>
        
                </div>
                <hr />
                <div class="row">
                    <div class="col">
                        <a class="pr-3 no-break" target="_blank" href="mailto:smahmuddz@gmail.com">
                            <i class="fas fa-angle-double-right"></i> smahmuddz@gmail.com
                        </a>
                        <a class="pr-3 no-break" target="_blank" href="https://scholar.google.com/citations?user=dLxWv64AAAAJ">
                            <i class="fab fa-google-scholar"></i> Google Scholar
                        </a>
                        <a class="pr-3 no-break" target="_blank" href="https://github.com/smahmuddz">
                            <i class="fab fa-github"></i> GitHub
                        </a>
                        <a class="pr-3 no-break" target="_blank" href="https://www.linkedin.com/in/smahmuddz/">
                            <i class="fab fa-linkedin"></i> Linkedin
                        </a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>




<div id="ghpages-domain-debug-message" class="row mt-3 d-none">
    <div class="col">
        <div class="alert alert-warning my-0" role="alert">
            <h5><i class="fas fa-exclamation-triangle"></i> Warning</h5>
            <strong>Problem:</strong>
            The current name of your GitHub Pages repository ("<code class="repo-name-text"></code>") does not match the recommended repository name for your site ("<code class="domain-name-text"></code>").
            <br>
            <strong>Solution:</strong> Please consider renaming the repository to "<code class="domain-name-text"></code>", so that your site can be accessed directly at "<code>http://<span class="domain-name-text"></span></code>".
            However, if the current repository name is intended, you can ignore this message by removing "<code>{% include widgets/debug_repo_name.html %}</code>" in <code>index.html</code>.
        </div>
    </div>
</div>

<script>
striped_pathname = location.pathname.replace(/\/+$/, "");
document.querySelectorAll(".repo-name-text").forEach(function(element){
    element.textContent = striped_pathname.replace("/", "");
});
document.querySelectorAll(".domain-name-text").forEach(function(element){
    element.textContent = location.hostname;
});

if (location.hostname.search("github.io") != -1 && striped_pathname != ""){
    document.getElementById("ghpages-domain-debug-message").classList.remove('d-none');
}
</script>



<script>
striped_pathname = location.pathname.replace(/\/+$/, "");
if(striped_pathname != "/academic-homepage"){
    document.getElementById("url-debug-message").classList.remove('d-none');
}
document.querySelectorAll(".root-path-text").forEach(function(element){
    element.textContent = striped_pathname;
});
</script>



    <div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    
                    <div class="col-md-6">
                        <div class="mx-2 my-1">
                            <h6>Education</h6>
                            <ul class="list-unstyled mb-1">
                                
                                <li class="media mb-1">
                                    <img src="assets/images/badges/MIT_Social_circle.png" alt="Massachusetts Institute of Technology" style="width: 18px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>University of Dhaka</div>
                                        <div class="small"></div>
                                        <div class="small d-flex">
                                            <div>Department of Computer Science and Engineering <br/> M.Sc. Student</div>
                                            <div class="mt-auto ml-auto no-break"><em>July. 2024 - present</em></div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li class="media mb-1">
                                    <img src="assets/images/badges/PKU_red.png" alt="Peking University" style="width: 18px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>East West University</div>
                                        <div class="small"></div>
                                        <div class="small d-flex">
                                            <div>B.Sc. in Computer Science</div>
                                            <div class="mt-auto ml-auto no-break"><em>Sep. 2019 - Sep. 2023</em></div>
                                        </div>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="mx-2 my-1">
                            <h6>Honors & Awards</h6>
                            <ul class="list small pl-3 mb-1">
                                
                                <li>
                                    <div class="d-flex">
                                        <div>Dean’s List Scholarship, East West University</div>
                                        <div class="ml-auto mt-auto no-break"><em>2021 & 2022</em></div>
                                    </div>
                                </li>
                                
                                <li>
                                    <div class="d-flex">
                                        <div>Passed ITEE FE Exam, National level IT Engineers Examination,IPA,JAPAN
                                        </div>
                                        <div class="ml-auto mt-auto no-break"><em>2023</em></div>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    

                </div>

            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-12">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    
                    <div class="col-md-6">
                        <div class="mx-2 my-1">
                            <h6>Experience</h6>
                            <ul class="list-unstyled mb-1">
                                
                                <li class="media mb-1">
                                    <img src="assets/images/badges/PU.png" alt="Massachusetts Institute of Technology" style="width: 18px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>Prime University</div>
                                        <div class="small"></div>
                                        <div class="small d-flex">
                                            <div>Department of Computer Science and Engineering <br/> Adjunct Lecturer</div>
                                            <div class="mt-auto ml-auto no-break"><em>Feb. 2024 - August 2024</em></div>
                                        </div>
                                    </div>
                                </li>
                                
                                <li class="media mb-1">
                                    <img src="assets/images/badges/uset.png" alt="Peking University" style="width: 18px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>University of Skill Enrichment and Technology</div>
                                        <div class="small"></div>
                                        <div class="small d-flex">
                                            <div>Lecturer, Additional Director (IQAC)</div>
                                            <div class="mt-auto ml-auto no-break"><em>Nov. 2023 - Feb. 2024</em></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="media mb-1">
                                    <img src="assets/images/badges/PKU_red.png" alt="Massachusetts Institute of Technology" style="width: 18px;" class="mr-1 mt-1">
                                    <div class="media-body">
                                        <div>East West University</div>
                                        <div class="small"></div>
                                        <div class="small d-flex">
                                            <div>Department of Computer Science and Engineering <br/> Undergraduate Teaching Assistant (UTA) & Graduate Teaching Assistant (GTA) </div>
                                            <div class="mt-auto ml-auto no-break"><em>July. 2022 - Dec. 2023</em></div>
                                        </div>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>
                   
                    <div class="col-md-6">

                    </div>
                    

                </div>

            </div>
        </div>
    </div>
</div>


    
    
    <!-- <div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-rss"></i> News</h6>
    <div class="px-3 pb-1">
        
        <div class="media py-1 ">
            
            <div class="mr-3 text-muted my-1">2024</div>
            <div class="media-body">
                
                <div class="my-1 d-flex">
                    <div>AI Transforms Music Industry: <strong>First AI-Composed Symphony</strong> Debuts in New York</div>
                    <div class="ml-auto mt-auto text-muted no-break"><i>Oct 19</i></div>
                </div>
                
                <div class="my-1 d-flex">
                    <div>Virtual Reality Theme Park Opens, Redefining Entertainment Industry</div>
                    <div class="ml-auto mt-auto text-muted no-break"><i>Mar 22</i></div>
                </div>
                
                <div class="my-1 d-flex">
                    <div>First Human Settlement Established on Mars, Marking New Era of Space Exploration. <a href="https://google.com" target="_blank">Read more <i class="fas fa-angle-double-right"></i></a></div>
                    <div class="ml-auto mt-auto text-muted no-break"><i>Jan 31</i></div>
                </div>
                
            </div>
        </div>
        
        <div class="media py-1 border-top border-gray">
            
            <div class="mr-3 text-muted my-1">2023</div>
            <div class="media-body">
                
                <div class="my-1 d-flex">
                    <div>Scientists Discover New Species of Bioluminescent Fish in Mariana Trench</div>
                    <div class="ml-auto mt-auto text-muted no-break"><i>Nov 28</i></div>
                </div>
                
                <div class="my-1 d-flex">
                    <div>AI-Powered Robot Chef Wins International Culinary Competition <span class="badge badge-pill badge-info">Featured</span></div>
                    <div class="ml-auto mt-auto text-muted no-break"><i>Sep 05</i></div>
                </div>
                
            </div>
        </div>
        
        <div class="media py-1 border-top border-gray">
            
            <div class="mr-3 text-muted my-1">2022</div>
            <div class="media-body">
                
                <div class="my-1 d-flex">
                    <div>Lorem ipsum sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
                    <div class="ml-auto mt-auto text-muted no-break"><i>Jan 11</i></div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>

     -->



    
    
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h6 class="border-bottom border-gray p-3 mb-0">
        <i class="fas fa-star"></i> Publications 
    </h6>
    
        
<div class="d-none d-md-block">
    <div class="row no-gutters border-bottom border-gray">
       <div class="col-md-3 col-xl-2 mb-md-0 p-md-3"><img data-src="assets\images\photos\loadBalancing.png" alt="Energy Efficient Distributed Cloud Load Balancing Using Virtual Machines" class="lazy w-100 rounded-sm" src="assets/images/empty_300x200.png"></div>
        <div class="col-md-9 col-xl-10 p-3 pl-md-0">
            <h5 class="mt-0 mb-1 font-weight-normal">Energy Efficient Distributed Cloud Load Balancing Using Virtual Machines</h5>
            <p class="mt-0 mb-0 small"><span class="text-body">
            <a href="https://scholar.google.com/citations?user=dLxWv64AAAAJ"><strong>Sabbir Mahmud Afridi</strong></a>, </span><a class="text-body" target="_blank" href="https://www.linkedin.com/in/fourlinecode"> Akmal Hossain</a>, </span><a class="text-body" target="_blank" href="https://scholar.google.com/citations?user=BwZjQ5AAAAAJ&hl">Md Mehdi Ahsan Rafsan</a>, </span><a class="text-body" target="_blank" href="https://scholar.google.com/citations?user=4dhJMl4AAAAJ">Ahmed Wasif Reza</a>, </span><a class="text-body" target="_blank" href="https://scholar.google.com/citations?user=BnNejIMAAAAJ&hl=en">Mohammad Shamsul Arefin</a></p>
            <p class="mt-0 mb-0 small"><i>International Conference on Intelligent Computing & Optimization</i> 2023  <span class="badge badge-pill badge-publication badge-success">Springer Nature Switzerland</span></p>
            <p class="mt-0 mb-0 small text-muted">Load balancing is a crucial element of any distributed system because it serves to spread workloads equally throughout numerous computing resources aiming to optimize speed and efficiency. However, traditional load-balancing techniques often consume a significant amount of energy, which can lead to increased operating costs and negative environmental impacts. We propose a dynamic round-robin approach for cloud load balancing in this paper to alleviate the strain on wireless networks. Our algorithm achieves 8% more efficiency compared to the traditional round-robin model. Additionally, our load-balancing virtual machine architecture exhibits an improvement in resource usage efficiency ranging from 15 to 42% compared to the current model. Overall, our model significantly increases the efficiency of the current load-balancing method.</p>
            <p class="small pb-0 mb-0 lh-125 text-muted abstract-links">
                <a target="_blank" href="https://www.researchgate.net/publication/376489485_Energy_Efficient_Distributed_Cloud_Load_Balancing_Using_Virtual_Machines">[PDF] from researchgate.net</a>
            </p>

        </div>
    </div>
</div>

    <h6 class="d-block p-3 mt-0 text-right">
        <a href="publications.html">All publications <i class="fas fa-angle-double-right"></i></a>
    </h6>
</div>




    </div>
    <footer class="footer">
    <div class="container">
        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted">
                    <i>Last updated: Nov 2024</i>
                </div>
            </div>
        </div>
    </div>
</footer>


    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/github-buttons/2.14.2/buttons.min.js" integrity="sha512-OYwZx04hKFeFNYrWxIyo3atgGpb+cxU0ENWBZs72X7T9U+NoHPM1ftUn/Mfw7dRDXrqWA6M1wBg6z6fGE32aeA==" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            renderMathInElement(document.body, {
              delimiters: [
                  {left: '$$', right: '$$', display: true},
                  {left: '$', right: '$', display: false}
              ],
              throwOnError : false
            });
        });
    </script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/bubble_visual_hash.js"></script>
</body>
</html>
